# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
env/

# Configuración de VSCode
.vscode/


# Archivos de entorno
.env

# Archivos de logs
*.log
