{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h2>
        {% if form.instance.pk %}
            Modificar Persona
        {% else %}
            Crear Persona
        {% endif %}
    </h2>

    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}Guardar Cambios{% else %}Crear{% endif %}
    </button>
</form>

<a href="{% url 'oficina:lista' %}" class="btn btn-secondary mt-3">Volver a la lista</a>
{% endblock content %}
