{% extends "base.html" %}
{% block content %}

<h1>Detalle de Persona</h1>
<table class="table">
  <tr>
    <th>Nombre</th>
    <td>{{ persona.nombre }}</td>
  </tr>
  <tr>
    <th>Apellido</th>
    <td>{{ persona.apellido }}</td>
  </tr>
  <tr>
    <th>Edad</th>
    <td>{{ persona.edad }}</td>
  </tr>
  <tr>
    <th>Oficina</th>
    <td>
      {% if persona.oficina %}
      <a href="{% url 'oficina:detalle' persona.oficina.id %}">
        {{ persona.oficina.nombre_corto|slice:":10" }}</a>
      {% else %}
        <span class="text-muted">Sin oficina</span>
      {% endif %}
    </td>
  </tr>
</table>

<a href="{% url 'persona:lista' %}" class="btn btn-outline-primary">Volver a la lista</a>
{% endblock content %}
